PORT
MONGO_URI
JWT_SECRET_KEY
JWT_EXPIRES
ACTIVATION_TOKEN

SMTP_HOST
SMTP_PORT

SMTP_PASSWORD
SMTP_MAIL

PAYPAL_CLIENT_ID
PAYPAL_SECRET

GOOGLE_OAUTH_CLIENT_ID
GOOGLE_OAUTH_CLIENT_SECRET

SENDGRID_API_KEY